* {
    padding: unset;
    margin: unset;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

body {
    overflow: hidden;

    .whatsapp-container {
        width: 414px;
        height: 100vh;
        background-image: url('/images/wallpaper.jpg');

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            color: rgb(70, 70, 162);
        }

        .whatsapp-topbar {
            height: 33.33%;
            width: 414px;

            .topbar-container {
                height: 50px;
                background-color: rgb(13, 13 ,13);
                display: flex;
                align-items: center;
                justify-content: space-between;

                .profile {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: white;
                        margin-left: 10px;
                        font-family: 'Open Sans', sans-serif;
                    }
                }
            }
        }
        
        .whatsapp-chatContainer {
            height: 33.33%;
        }

        .whatsapp-textArea {
            height: 33.33%;

            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: center;
            .textArea-container {
                width: 414px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(13, 13, 13);
                gap: 10px;
                height: 50px;

                .text-container {
                    background-color: rgb(50, 50, 50);
                    border-radius: 44px;
                    border: 1px solid rgb(96, 96, 96);
                    width: 260px;
                    height: 25px;
                    margin-bottom: 2px;
                }   
            }
        }
    }
}
.callicons{
    margin-right: 10px; 
    display: flex;
    gap: 15px;
}
#backbutton {
    margin-left: 5px;
}
.image{
    border-radius: 50%;
    height: 36px;
    width: 36px;
}
.buttonimage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.messsageContainer{
    height: 25px;
    width: calc(100% + 10px);
    max-width: 165px;
    position: absolute;
    top: 100px;
    left: 15px;
    border-radius: 10px;
    background: rgb(59, 59, 59);
    text-align: start;
    display: flex;
    p {
        color: white;
        position: relative;
        z-index: 100;
        margin-left: 12px;
        margin-top: 3px;
        font-family: 'Open Sans', sans-serif;
    }

}
.messageTime p{
    color: rgb(121, 121, 121);
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 10px;
}
.dateContainer{
    height: 18px;
    width: 50px;
    position: absolute;
    top: 65px;
    left: 177px;
    border-radius: 5px;
    background-color: rgb(13, 13 ,13);
    color: rgb(132, 131, 131);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.messageCorner{
    position: absolute;
    left: -1px;
    bottom: 0;
    background: rgb(59, 59 ,59);
    width: 10px;
    height: 10px;
    transform: rotate(110deg);
    border-radius: 0px 10px 0px 10px;
    z-index: 99;
}