* {
    padding: unset;
    margin: unset;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    .whatsapp-container {
        width: 100%;

        overflow-y: scroll;

        flex: 1;
        background-image: url('./images/wallpaper.jpg');

        display: flex;
        flex-direction: column;
    }

    i {
        color: rgb(70, 70, 162);
    }

    .whatsapp-topbar {
        height: 33.33%;
        width: 100%;


    }

    .topbar-container {
        height: 50px;
        width: 100vw;
        background-color: rgb(13, 13, 13);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: white;
                margin-left: 10px;
                font-family: 'Open Sans', sans-serif;
            }
        }

        z-index: 99;
    }

    .whatsapp-textArea {
        height: 33.33%;

        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        width: 100%;

    }
}

.emptyBatteryOverlay {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, .5);
    z-index: 100;
    justify-content: center;
}

.batteryNotification {
    margin: 40px;
    height: 80px;
    width: 400px;
    border-radius: 25px;
    border: 1px solid rgb(96, 96, 96);
    background-color: rgb(74, 74, 74, .99);
    filter: blur(2);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.batteryIcon {
    height: 80%;
    width: 20%;
    z-index: 102;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(123, 123, 123);
}

.batteryIcon i {
    color: white !important;
}

.batteryText {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 65%;
    text-align: start;
}

.callicons {
    margin-right: 10px;
    display: flex;
    gap: 15px;
}

#backbutton {
    margin-left: 5px;
}

.image {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.buttonimage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.girl-messsageContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px 20px 5px 20px;
}

.you-messsageContainer {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 5px 20px 5px 20px;
}

.girl-message {
    display: flex;
    position: relative;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
    max-width: 80%;
}

.messsageContainer {
    height: 25px;
    width: calc(100% + 10px);
    max-width: 155px;
    position: absolute;
    top: 100px;
    left: 15px;
}

.you-message {
    display: flex;
    position: relative;
    border-radius: 10px;
    background-color: #005F4B;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
    max-width: 80%;
}

.message-time-fill {
    display: inline;
    visibility: hidden;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;

    p {
        color: white;
        position: relative;
        z-index: 100;
        margin-left: 12px;
        margin-top: 3px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }
}

.message-time {
    position: absolute;
    bottom: 4px;
    right: 10px;
    color: rgb(121, 121, 121);
    font-size: 11px;
    font-family: 'Open Sans', sans-serif
}

.dateTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 7px;
    height: 18px;
    border-radius: 5px;
    background-color: rgb(13, 13, 13);
    color: rgb(132, 131, 131);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.dateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px
}

.dateContainer p {
    margin-top: 1.5px;
}

.messageCorner {
    position: absolute;
    left: -1px;
    bottom: 0;
    background: rgb(59, 59, 59);
    width: 10px;
    height: 10px;
    transform: rotate(110deg);
    border-radius: 0px 10px 0px 10px;
}

.you-messageCorner {
    position: absolute;
    right: -1px;
    bottom: 0;
    background-color: #005F4B;
    width: 10px;
    height: 10px;
    transform: rotate(-20deg);
    border-radius: 0px 10px 0px 10px;
}

.textArea-container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(13, 13, 13);
    gap: 10px;

    .text-container {
        outline: none;
        background-color: rgb(50, 50, 50);
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid rgb(96, 96, 96);
        flex: 1;
        margin: 10px 0;
        resize: none;
        color: white;
        padding: 5px 15px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        height: 20px;
    }
}

.la-plus {
    margin-left: 5px;
}

.la-microphone {
    margin-right: 5px;
}

.message {
    color: white;
    display: inline;
}

.message-opptions {
    display: flex;
    position: relative;
    border-radius: 10px;
    background-color: #005F4B;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
    max-width: 80%;
    color: white;
}

.message-opptions-container {
    bottom: 50px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: black;
}
